<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% users.forEach(user=>{ %>
        <%= user.name %>
        <%= user.email %>
        <a href="/edit/<%= user.id %>">

            <button>Edit</button>
        </a>
        <a href="/delete">

            <button>Delete</button>
        </a>
            <br>
    <% }) %>
</body>
</html>